* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    font-family: "Playfair Display", serif;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #eaeaea;
    text-decoration: none;
    font-size: 15px;
}


.hero {
    background: #22532e;
    color: white;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-box {
    max-width: 40rem;
    padding: 6rem;
}

.small-title {
    color: #fbd17b;
    font-size: 16px;
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.description {
    font-size: 15px;
    margin-bottom: 30px;
    color: #dcdcdc;
}

.btn {
    background: #f17d77;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover {
    background: #f0716a;
}

.hero-image {
    display: flex;
    justify-content: center;
    padding-right: 3rem;
}

.hero-image img {
    width: 80%;
}

.services {
    display: flex;
    background: #f7dede;
    padding: 50px;
    justify-content: space-between;
}

.service-box {
    width: 30%;
    background: #f7dede;
    padding: 20px;
    text-align: center;
}

.icon {
    font-size: 35px;
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 15px;
}

.service-box p {
    font-size: 14px;
    color: #5a5a5a;
}
.text-des{
    color: #5a5a5a;
}